body {
	font-size: 1.5em;
	font-family: Consolas;
	background: #222831;
}

h1 {
	font: 2.5em Mali;
	color: #eee;
	text-shadow: 0 5px 15px #04faee, 0 5px 15px #04faee, 0 5px 15px #04faee;
	margin: 40px 0;
	width: 100%;
	text-align: center;
}

li {
	list-style: none;
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-input {
	width: 450px;
	height: 45px;
	font-size: 20px;
	padding-left: 15px;
	outline: none;
	border: 2px solid #F02EAA;
	border-radius: 25px;
	display: inline-block;
	transition: all .3s;
	box-shadow: 0 20px 50px rgba(240, 46, 170, 0.7);
	font-family: Consolas;
}


.addBtn:hover {
	transform: scale(1.2);
}

#myUL {
	width: 80%;
	padding: 0;
	margin: 40.2px auto;
	display: flex;
	/* align-items: flex-start; */
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#myUL > li {
	width: 250px;
	height: 250px;
	display: flex;
	font-size: 20px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	text-align: left;
	transition: all .3s;
	background: #0082ce;
	border-radius: 10px 10px;
	box-shadow: 0 10px 20px 1px rgba(8, 112, 184,.7);
	color: #fff;

}

#myUL > li:hover {
	background: #00a2ff;
	box-shadow: 0 10px 25px 1px rgba(1, 131, 224,.6);
}

.content {
	width: 170px;
	height: 200px;
	margin-top: 25px;
	overflow-wrap: break-word;
}

.footer {
	text-align: center;
	margin-top: 50px;
}

.footer > span {
	display: block;
	color: rgba(238, 238, 238,.6);
	font-size: 15px;
}
.closeB {
	width: 25px;
	height: 25px;
	margin: 10px;
	cursor: pointer;
}

p {
	display: inline;
}

.checkboxBtn {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
}

.editor {
	width: 90%;
}

.editInput {
	width: 170px;
	height: 180px;
	font-size: 1em;
	margin-top: 20px;
	max-height: 180px;
	padding: 0;
	padding-left: 10px;
	border: 2px solid #bbb;
	outline: none;
	font-family: Consolas;
}

.submitBtn {
	width: 170px;
	height: 30px;
	line-height: 100%;
}

.changerBg {
	display: flex; 
	text-align-last: left;
	width: 15px;
	height: 15px;
	background: #fff;
	b
