body {
	text-align: center;
	font-size: 1.5em;
	font-family: Arial;
}

h1 {
	font: 2.5em Mali;
}

li {
	list-style: none;
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

#myInput {
	width: 300px;
	height: 30px;
	font-size: 25px;
	padding-left: 15px;
	outline: none;
	border: 2px solid #bbb;
	display: inline-block;
	transition: all .3s;
}

#myInput:focus {
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.addBtn {
	display: inline-block;
	width: 60px;
	height: 36px;
	background: #aaa;
	line-height: 36px;
	margin-left: 15px;
	cursor: pointer;
	color: #fff;
	transition: all .3s;
}

.addBtn:hover {
	background: #eee;
	color: #aaa;
}

#myUL {
	padding: 0;
	text-align: center;
	width: 80%;
	margin: 25px auto;
}

#myUL > li {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	background: #eee;
	margin-top: 5px;
	text-align: left;
	padding-left: 15px;
}

.close {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #ccc;
	position: absolute;
	right: 10%;
	text-align: center;
	cursor: pointer;
	transition: all .3s;
}

.close:hover {
	background: #f05837;
	color: #fff;
}

#counter {
	width: 36px;
	height: 36px;
	background: #aaa;
	margin-left: 25px;
	line-height: 36px;
	color: #2e2e2e;
}

input[type="checkbox"] {
	float: left;
	height: 30px;
	width: 30px;
	margin-top: 5px;
	margin-right: 25px;
}
.editor {
  width: 70px;
  height: 36px;
  background: #5DFC0A;
  display: inline-block;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  float: right;
  margin-right: 45px;
  margin-top: 2px;
  cursor: pointer;
  transition: all .3s;
}

.editor:hover {
  background: #49E20E;
}
